croc/
dconf/
ghostty/
glib-2.0/
go/
gtk-3.0/
IotaPlayer/
jgit/
kde.org/
kdeconnect/
matplotlib/
OpenTabletDriver/
Proton/
pulse/
session/
spotify/
systemd/
vesktop/
yay/
Code/
chromium/

baloofileinformationrc
dolphinrc
electron-builder.json
mimeapps.list
pavucontrol.ini
QtProject.conf
trashrc
user-dirs.dirs
user-dirs.locale